
div.anf-input-group {
    margin-bottom: 20px;
}

.message-box {
    display: none;
    opacity: 0;
    transition: opacity .3s 1s;
    padding: 10px;
}

.message-box.display {
    display: block;
    opacity: 1;
}

.message-box.success {
    border: 1px solid green;
}

.message-box.error {
    border: 1px solid red;
}